<% if (title!="Home") {%>

<% if (title!="Register" && title!="Login") {%> 
</div>
  <% }%>
</div>
<% }%>


</div><!-- /.container -->

<br>
<br>
<br>

<hr>
<footer class="bg-dark">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="text-uppercase text-warning mb-4">About company</h5>

        <p style="color: #cff;">
          ShopHere is a project developed during web developement internship by shivam shrivas.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-warning text-white btn-lg"><i class="fab fa-google-plus-g"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      
    </div>
  </div>
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright Shivam Shrivas:
    <a style="color: #cff;" href="/">ShopHere.com  All rights reserved</a>
  </div>
  <!-- Copyright -->
</footer>



  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
  </body>
</html>


